table {
    width:40%;
}
select {
    font-size:medium;
    width:150pt;
    font-family:"lucida Grande",Verdana,"Microsoft YaHei";
}

select.invalid {
    border: 2px inset red;
    background-color: #FF0;
}
.table th, .table td { 
text-align: center;
vertical-align: middle!important;
}